.menu-container {
    width: 15%;
    padding: 20px;
    background: darkgrey;
}

.menu-aligment {
    display: flex;
    flex-direction: column;
}

.menu-items-style{
    margin-top: 10px;
    margin-bottom: 10px;
    &.menu-items-style-active {
        background-color: aqua;
    }
}

