@import "../../variable.scss";

.product-page-container {
  display: flex;
  justify-content: center;

  .product-container {
    display: flex;
    justify-content: center;
    width: 70%;

    .menu-list-container {
      background-color: silver;
      width: 20%;
    }

    .product-list-container {
      width: 80%;
    }
  }
}
