@import "../../variable.scss";

.product-page-container {
//   background-color: aquamarine;
  display: flex;
  justify-content: center;
  // padding-left:295px;

  // @include mobile {
  //     display: flex;
  //     flex-direction: column;
  //     width: 100%;
  // }

  .product-container {
    // background-color: darkgoldenrod;
    display: flex;
    justify-content: center;
    width: 70%;

    .menu-list-container {
      background-color: silver;
      width: 20%;
    }

    .product-list-container {
      background-color: brown;
      width: 80%;
    }
  }
}
