@import "../../variable.scss";

.SliderContainer {
  width: 70%;
  //   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  //     rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  @include mobile {
    width: 100%;
  }
  .slick-arrow {
    z-index: 1;
  }

  .slick-slide img {
    width: 100%;
  }

  // .slick-prev:before {
  //   content: "PREV";
  // }
  // .slick-prev:after {
  //   content: "PREV";
  // }

  // .slick-next:before {
  //   content: "NEXT";
  // }

  // .slick-next:after {
  //   content: "NEXT";
  // }

  // .slick-prev,
  // .slick-next {
  //   width: 60px;
  //   height: 30px;
  //   color: #c0c0c0;
  //   border: #c0c0c0;
  //   outline: #c0c0c0;
  //   background: #c0c0c0;
  // }
}
