.login-Auth-container{
    display: flex;
    padding-right: 350px;
    padding-left: 350px;
    .Auth-container{
        width: 50%;
        &.text-content {
            display: flex;
            flex-direction: column;
            align-self: center;
            height: 100%;
        }
        .Login-Auth-Text-Style {
            display: flex;
        }
    }
}